package views

// tailwind button
templ ButtonComponent(title string, url string) {
	<a
        href={ templ.SafeURL(url) } class="flex justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primaryalt focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primarylight"
	>
		{ title }
	</a>
}
