package views

templ DashboardPage(viewObj *ViewObj) {
	@DefaultLayout(viewObj) {
		<div class="flex flex-col">
            <h1>Dashboard</h1>
			<h2>Welcome { viewObj.Session.FirstName },</h2>
			<p>This is the authenticated dashboard page</p>
		</div>
	}
}
