package views

templ IndexPage(viewObj *ViewObj) {
	@DefaultLayout(viewObj) {
    <div class="flex items-center justify-center flex-1 self-center">This is the <strong>&nbsp;Index Page</strong></div>
	}
}
